.card {
  position: relative;
  background-color: #f2f2f2;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05) translateY(-10px) rotateX(20deg) rotateY(20deg);
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2),
    -15px -15px 30px rgba(255, 255, 255, 1);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.8) 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover::before {
  opacity: 1;
}

.card-media {
  overflow: hidden;
  /* border-radius: 20px 20px 0 0; */
}

.card-media img {
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-media img {
  transform: scale(1.1);
}

.neumorphism {
  background-color: #f2f2f2;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px rgba(255, 255, 255, 1);
  transition: box-shadow 0.3s ease-in-out;
}

.neumorphism:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
    -10px -10px 20px rgba(255, 255, 255, 1);
}

@media (max-width: 767px) {
  .card:hover {
    transform: none;
    box-shadow: none;
  }

  .card::before {
    background: none;
    opacity: 1;
  }

  .card:hover::before {
    opacity: 0;
  }

  .card:hover .card-media img {
    transform: none;
  }

  .neumorphism:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
      -5px -5px 10px rgba(255, 255, 255, 1);
  }
}
